
*{
  margin: 0;
  padding: 0;
}
.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 5rem; */
    margin: 0;
    padding: 0 ;
    background-image:url('https://images.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/07/21/Pictures/_d6c5a6cc-8cab-11e8-a23e-bc16ac6b2c17.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 609px;
}

.box{
margin-top: 2em;
border: 2px solid black;
border-radius: 20px;
width: 40%;
height: 70vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
background-color:rgba(143, 142, 211, 0.623);
margin-left: 4rem;
box-shadow: 10px 10px 10px rgb(197, 19, 19) ;
}

.input{
  width: 100%;
  height: 4vh;
}
.button{
  display: block;
 
}
.but{
   
  color: white;
  
  /* border-radius: 20%; */
  /* margin: top; */
 
}
.submit{
  
  width:70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: greenyellow;

}
 
  
.Emoji{
  border: none;
  height: 30px;
  margin-left: 2rem;
  background-color: greenyellow;
  border-radius: 5px;
}
@media only screen and(max-width:450px){
  .wrap{
  margin: 0;
  padding: 0 ;
  background-image:url('https://images.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/07/21/Pictures/_d6c5a6cc-8cab-11e8-a23e-bc16ac6b2c17.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  .Emoji{
    border: none;
    height: 30px;
    background-color: greenyellow;
    border-radius: 5px;
  }
}

 
